# General
.DS_Store
.env
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec

# Logs
*.log
logs/

# Node
node_modules/

# Local/Demo
priority_runlist_current.csv
test.json
demo/logs/
demo/output/
demo/config/

# Local Logs
*logs.json
*logs*.json
*.log
engine_desc.json
job_desc.json

